[MASTER]
extension-pkg-allow-list=lxml.etree

[MESSAGES CONTROL]
disable=
    line-too-long,
    broad-exception-caught,
    protected-access, # For testing
    logging-fstring-interpolation,
    redefined-outer-name,
    c-extension-no-member,
    bare-except,
    invalid-name

[FORMAT]
max-line-length=100

[DESIGN]
max-args=6
max-attributes=12